#QrReader {
    position: relative;
    /* z-index: 2; */
  }
  
  #QrReader::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border: 3px dashed white;
    border-radius: 5%;
    z-index: 1;
  }
  
  .active-button {
    background-color: rgb(30 58 138);
    color: white;
  }
  